<h2>商品詳細</h22>
 <div class="row mb-3">
 <%= attachment_image_tag @item, :image, fallback: "no-image.jpg", size: "300x200" %>
 </div>
  <div class="col">
  <table >
  <tbody>
  <tr>
   <th>商品名</th>
   <td><%= @item.name %></td> </tr>
  <tr>
   <th>商品説明</th>
   <td><%= @item.introduction %></td>  </tr>
  <tr>
   <th>ジャンル</th>
   <td><%= @item.genre.name %></td> </tr>
   <tr>
  <th>税込価格<br>(税抜価格)</th>
  <td><%= @item.with_tax_price %>（<%= @item.price %>円）</td> </tr>

  <tr>
  <th>販売ステータス</th>
  <td>
 <% if @item.is_active == false %>
            <span class="text-danger font-weight-bold">販売停止中</span>
          <% else %>
           <span class="text-success font-weight-bold">販売中</span>
          <% end %>
  </td></tr>
  <tr>  <td>
       <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-outline-success" %>  
   </td></tr>
 </tbody>
 </table> </div>