<h4>注文情報入力</h4>
<%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
  <label><strong>支払方法</strong></label>

  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %>

  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %>
  
  <h4>お届け先</h4>  
  <label><strong>お届け先</strong></label>
  
  
  
  <% end %>
  