
<h2>商品詳細</h22>
 <div class="row">
 <%= attachment_image_tag @item, :image, fallback: "no-image.jpg", size: "300x200" %>
 </div>
  <div class="col">
  <table >
  <tbody>
  <tr>
   <th>商品名</th>
   <td><%= @item.name %></td> </tr>
  <tr>
   <th>商品説明</th>
   <td><%= @item.introduction %></td>  </tr>
  
 
  <td>￥<%= @item.with_tax_price %> （税込）</td> </tr>


 <td>
<%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit 'カートに入れる', class: 'btn btn-success' %>
<% end %>
</td> 